@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');
:root {
    --dark-blue: #363f5f;
    --green:#49AA26;
    --light-green:#3dd705;
    --red:#e92929;

}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 93.75%; /*15px*/
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
} 
/* ========+ TITLES +===========*/

h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color:var(--dark-blue);

    font-weight: normal;
}


/* ========+ HEADER +===========*/
header{
    background:#2D4A22;
    padding: 2rem 0 10rem;
    text-align: center;
}

header h1#logo{
    color: #fff;
    font-weight:100 ;
}

.container{
    width: min(90vw, 800px);
    margin: auto;
}

.button.new{
  display: inline-block;   /* pode aplicar margens  */
    margin-bottom: .8rem;
}
/* ========+ LINKS AND BUTTONS +===========*/

a{
    color:var(--green);
    text-decoration: none;
}

a:hover{
    color: var(--light-green);
}

button{
    width: 100%;
    height: 50px;

    border: none;
    border-radius: .25rem;

    color: white;
    background-color: var(--green);

    padding: 0;

    cursor: pointer;
}

button:hover{
    background-color:var(--light-green);
}


.button.cancel{
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: .25rem;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.6;
}

.button.cancel:hover{
    opacity: 1;
}

/* //ocultar os títulos// */
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0, 0 ,0 ,0);
    white-space: nowrap;
    border-width: 0;
}


/* ========+ BALANCE +===========*/
#balance{
    margin-top: -8rem;
}

#balance h2{
    color: white;
    margin-top: 0;
}

/* ========+ CARDS +===========*/
.card{
    background: white;
    padding: 1.5rem 2rem;
    border-radius: .25rem;

    margin-bottom: 2rem;

    color: var(--dark-blue);
}

.card h3{
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p{
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;

}

.card.total{
    background:var(--green);
    color: white;
}


/* ========+ TABLE +===========*/

#transaction{
    display: block;
    width: 100%;
    overflow: auto;
}

#dataTable{
    border-spacing: 0 0.5rem;
    width: 100%;
    color: #969cb3;
}


table thead th:first-child,
table thead td:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead th:last-child,
table thead td:last-child{
    border-radius: 0 0.25rem 0.25rem 0;
}



table  th{
    background: white;
    color:#969cb3;

    font-weight:normal ;
    padding:1rem 2rem;

    text-align: left;
}

table td{
    background: white;
    padding: 1rem 2rem;
}

table  tbody tr{
    opacity: .7;
}

table tbody tr:hover{
    opacity: 1;
}

td.description{
    color: var(--dark-blue);
}

td.income{
    color: #12a454;
}

td.expense{
    color: #e92929;
}
/* ========+ MODAL +===========*/

.modalOverlay{
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* //preencher na tela  */
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modalOverlay.active{
    opacity: 1;
    visibility: visible;
}

.modal{
    background: #f0f2f5;
    padding: 5rem 10rem;

    position: relative;
    z-index: 1;
}
/* ========+ FORM +===========*/

#form{
    max-width: 500px;

}

#form h2{
    margin-top: 0;
}

#form form input{
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;
}

.inputGroup{
    margin-top: 0.8rem;
}

.inputGroup small{
    opacity: 0.4;
}

.inputGroup.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.inputGroup.actions .button,
.inputGroup.actions button{
    width: 48%;
}

/* ========+ FOOTER +===========*/
footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: .6;
}

/* ========+ RESPONSIVE +===========*/


@media (min-width:800px){
    html{
        font-size: 87.5%;
    }

    #balance{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /*ou: repeat(3,1fr) == 1fr 1fr 1fr*/
        gap: 2rem;
    }


}